@charset "UTF-8";

body {
 background-image: url("baggrund.jpg");
 background-color: #cccccc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #007337;
  margin-left: 120px;
  margin-right: 120px;
}

li {
  float: left;
      
}

li a {
  display: block;   
  color: white;    
  text-align: center;
  font-family: 'raleway bold', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 60px;
 
}


li a:hover {
  background-color: #462d18;     
    
}

.vl {
  border-left: 8px solid #007337;
  height: 2249px;
  position: absolute;
  left: 10%;
  top: 0;
  margin-top: 2px;
}

.vl2 {
  border-left: 8px solid #007337;
  height: 2249px;
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: 2px;
}

.hr {
  width: 1234px;
  height: 8px;
  background-color:#007337;
  position: relative;
  margin-left: 10%;
  width: 80%;
  margin-top: -410px;
}

.hr2 {
  width: 1234px;
  height: 8px;
  background-color:#007337;
  position: relative;
  margin-left: 10%;
  width: 80%;
  margin-top: 397px;
}


.logoweb {
    height: 400px;
    margin-left: 124px;
    width: 80%;
}

h1 {
    padding-top: 10px;
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    text-align: center;
}

.p1 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p2 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p3 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.klatring {
    width: 50%;
    margin-left: 315px;
    padding-top: 10px;
}

.bigswing {
    width: 50%;
    margin-left: 315px;
    padding-top: 10px;
}

.cafe {
    width: 50%;
    margin-left: 315px;
    padding-top: 10px;
}

.footer {
    color:white;
    width: 100%;
    text-align: center;
    margin-top: 30px;  
   
}

.footer ul li {
    display: inline-block;
    margin-left: 60px;
    text-align: center;
    padding: 8px 10px;
    max-width: 100%;
    font-size: 14px;
    font-family: 'raleway', sans-serif;
}

/* Svendborg fanen */

.p4 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.vl3 {
  border-left: 8px solid #007337;
  height: 2407px;
  position: absolute;
  left: 10%;
  top: 0;
  margin-top: 2px;
}

.vl4 {
  border-left: 8px solid #007337;
  height: 2407px;
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: 2px;
}
   
/* Vejle fanen */

.p5 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.vl5 {
  border-left: 8px solid #007337;
  height: 2204px;
  position: absolute;
  left: 10%;
  top: 0;
  margin-top: 2px;
}

.vl6 {
  border-left: 8px solid #007337;
  height: 2204px;
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: 2px;
}

.billede1 {
    width: 50%;
    margin-left: 315px;
    padding-top: 10px;
}

.billede2 {
    width: 50%;
    margin-left: 315px;
    padding-top: 10px;
}

.billede3 {
    width: 50%;
    margin-left: 315px;
    padding-top: 10px;
}

.billede4 {
    width: 50%;
    margin-left: 315px;
    padding-top: 10px;
}


/* Nyheder fanen */

.p6 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p61 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p62 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p63 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p64 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p65 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.vl7 {
  border-left: 8px solid #007337;
  height: 1600px;
  position: absolute;
  left: 10%;
  top: 0;
  margin-top: 2px;
}

.vl8 {
  border-left: 8px solid #007337;
  height: 1600px;
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: 2px;
}

/* Åbningstider fanen */

.p7 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p8 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.skema {
    width: 70%;
    margin-left: 180px;
}

.vl9 {
  border-left: 8px solid #007337;
  height: 1439px;
  position: absolute;
  left: 10%;
  top: 0;
  margin-top: 2px;
}

.vl10 {
  border-left: 8px solid #007337;
  height: 1439px;
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: 2px;
}

/* Priser fanen */

.p9 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p10 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p11 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.p12 {
    font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.vl11 {
  border-left: 8px solid #007337;
  height: 1205px;
  position: absolute;
  left: 10%;
  top: 0;
  margin-top: 2px;
}

.vl12 {
  border-left: 8px solid #007337;
  height: 1205px;
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: 2px;
}

/* Booking fanen */

.tab {
       font-family: 'raleway bold', sans-serif;
    color: #462d18;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center; 
}

.send{
   margin-right: 597px; 
}

.vl13 {
  border-left: 8px solid #007337;
  height: 1160px;
  position: absolute;
  left: 10%;
  top: 0;
  margin-top: 2px;
}

.vl14 {
  border-left: 8px solid #007337;
  height: 1160px;
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: 2px;
}